PyOpenGL==3.1.10
PyOpenGL-accelerate==3.1.10; sys_platform != "darwin" or platform_machine == "x86_64"
requests==2.33.1
numpy==2.2.6
pillow==12.2.0
mpmath==1.3.0
lib3mf==2.4.1.post1
ezdxf==1.4.3
scipy==1.17.1
sympy==1.14.0
pyfqmr==0.4.0
meshio==5.3.5
cadquery-ocp==7.8.1.1
build123d==0.10.0
keyring==25.7.0
pyopencl==2026.1.2
pandas==3.0.3
apple_smi==0.1.4; sys_platform == "darwin"
nvapi @ git+https://github.com/kdschlosser/nvapi.git ; sys_platform != "darwin"
pyamd_adl @ git+https://github.com/kdschlosser/ati_radeon.git ; sys_platform != "darwin"
comtypes==1.4.13; sys_platform == "win32"
PySide6==6.11.1
